.btn {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    line-height: 20px;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border: none;
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.primary {
    background-color: #2563EB;
    color: #F8FAFC;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
}

.primary:hover:not(:disabled) {
    background-color: #1D4ED8;
}

.secondary {
    background-color: #F1F5F9;
    color: #0F172A;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
}

.secondary:hover:not(:disabled) {
    background-color: #F8FAFC;
    color: #334155;
}