.container {
  display: flex;
  flex-direction: column;
  max-width: 152px;
}

.label {
  display: block;
  font-size: 13px;
  color: #64748b;
  margin-bottom: 8px;
  font-weight: 500;
}

.inputGroup {
  display: flex;
  gap: 4px; 
}

.inputWrapper {
  flex: 1; 
}