.container {
  margin-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 13px;
  font-weight: 600;
  color: #020817;
  letter-spacing: 2.5%;
  margin-bottom: 16px;
}

.grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.prefItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.w410 {
  width: 410px;
}

.w359 {
  width: 359px;
}

.textGroup {
  width: 315px;
}

.itemTitle {
  font-size: 12px;
  line-height: 19.25px;
  font-weight: 500;
  color: #020817;
  margin: 0 0 5px 0;
}

.itemDesc {
  font-size: 14px;
  color: #64748b;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}


.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: 9999px;
  cursor: pointer;
  transition: .3s;
  padding: 2px;
}

.slider:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  transform: scale(0.915);
  border-radius: 50%;
  transition: .3s;
  transform: translateX(0);
}

input:checked+.slider {
  background-color: #2563EB;
}

input:checked+.slider:before {
  transform: translateX(16px);
}

.selectWrapper {
  position: relative;
  display: inline-block;
}

.select {
  height: 36px;
  padding: 0 36px 0 12px;
  border: 1px solid #E2E8F0;
  border-radius: 6px;
  font-size: 13px;
  color: #1e293b;
  background-color: white;
  cursor: pointer;
  min-width: 101px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.06);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  pointer-events: none;
  opacity: 0.9;
  transition: 0.2s ease;
}

.select:focus + .icon,
.select:hover + .icon {
  opacity: 1;
}
