.photoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 100px;
}

.profileImg {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.photoIcon {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: #E2E8F0;
  border: none;
  border-radius: 8px;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.photoIcon svg {
  width: 20px;
  height: 22px;
}
