.inputContainer {
  position: relative;
  width: 100%;
  height: 36px;
  background: white;
  border-radius: 6px;
  display: flex;    
}

.input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #E2E8F0;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  transition: all 0.2s ease-in-out;
  color: #64748b;
  background: transparent;
  line-height: normal; 
  box-shadow: 0px 1px 3px rgba(0,0,0,0.06);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #64748b;
  font-weight: 400;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.input:focus,
.input:not(:placeholder-shown) {
  border-color: #3B82F6;
  box-shadow: 0 0 0 1px #3B82F6;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: 0;             
  transform: translateY(-50%) scale(0.9); 
  background-color: white; 
  padding: 0 4px;     
  font-size: 12px;     
  color: #3B82F6;
  z-index: 1;          
  margin-left: 2px;   
}