.tabContainer {
  display: flex;
  background-color: #F1F5F9;
  padding: 5px;
  border-radius: 8px;
  gap: 6px;
  width: 100%;
  max-width: 430px;
  height: 36px;
  justify-content: center;
}

.tab {
  padding: 6px 14px;
  border-radius: 5px;
  font-size: 13px;
  color: #94A3B8;
  background: transparent;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  min-width: 75px;
}

.tab:hover:not(.activeTab) {
  color: #64748B;
  background-color: rgba(0, 0, 0, 0.02);
}

.activeTab {
  background-color: #FFFFFF;
  color: #0F172A;
  font-weight: 500;
}

@media (max-width: 480px) {
  .tabContainer {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tab {
    flex-basis: 48%;
    text-align: center;
    margin-bottom: 2px;
  }
}
