.tabContainer {
  display: flex;
  background-color: #F1F5F9;
  padding: 5px;
  border-radius: 8px;
  gap: 2px;
  width: 400px;
  height: 36px;
}

.tab {
  flex: auto;
  text-align: center;
  border: none;
  background: transparent;
  padding: 6px 2px;
  border-radius: 5px;
  font-size: 13px;
  color: #94A3B8;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.tab:hover:not(.activeTab) {
  color: #64748B;
  background-color: rgba(0, 0, 0, 0.02);
}

.activeTab {
  background-color: #FFFFFF;
  color: #0F172A;
  font-weight: 500;
}